@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
    scroll-behavior: smooth;
}



  
  .track {

    width: 100%;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 30s linear infinite;
  }
  
  @keyframes marquee {
    0% { transform: translateX(0)}
    50% {transform: translateX(-50%)}
    100% { transform: translateX(0%) } 
 /* 0%{transform :translateX(0%)} */
  }
  
